body {
  height: 3000px;
}

.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  bottom: 0px;
  background-color: green;
  color: white;
}

.element {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.modal-title {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.modal-content {
  font-family: Arial;
  margin-bottom: 12px;
}